<div class="grid">
  <div class="col-12">
    <div class="card">
      <p-toast></p-toast>

      <p-table
        #dt
        [value]="datas"
        responsiveLayout="scroll"
        [rows]="10"
        [globalFilterFields]="['document.documentName', 'approved']"
        [paginator]="true"
        [rowsPerPageOptions]="[5, 10, 20]"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowHover]="true"
        dataKey="idApprover"
      >
        <ng-template pTemplate="caption">
          <div
            class="flex flex-column md:flex-row md:justify-content-between md:align-items-center"
          >
            <h4 class="m-0">List Request Approval</h4>
            <span class="block mt-2 md:mt-0 p-input-icon-left">
              <i class="pi pi-search"></i>
              <input
                pInputText
                type="text"
                (input)="onGlobalFilter($event, dt)"
                placeholder="Search..."
                class="w-full sm:w-auto"
              />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>No</th>
            <th pSortableColumn="document.documentName">
              Document Name
              <p-sortIcon field="document.documentName"></p-sortIcon>
            </th>
            <th pSortableColumn="approved">
              Signature Status <p-sortIcon field="approved"></p-sortIcon>
            </th>
            <th>Request By</th>
            <th>Sign Date</th>
            <th>Approve Document</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data let-i="rowIndex">
          <tr>
            <td>{{ i + 1 }}</td>
            <td style="width: 20%; min-width: 10rem">
              <span class="p-column-title">Document Name</span
              >{{ data.document.documentName }}
            </td>
            <td style="width: 20%; min-width: 10rem">
              <span class="p-column-title">Status</span>
              <span [ngClass]="getStatusBadgeClass(data.approved)">{{
                data.approved ? "signed" : "need sign"
              }}</span>
            </td>
            <td style="width: 20%; min-width: 10rem">
              <span class="p-column-title">Request By</span>
              {{ data.document.uploadBy.username }}
            </td>
            <td style="width: 20%; min-width: 10rem">
              <span class="p-column-title">Sign Date</span>
              {{ data.signedDate | date : "dd/MM/yyyy, HH:mm" }}
            </td>

            <td>
              <div class="flex" *ngIf="!data.approved">
                <button
                  pButton
                  pRipple
                  label="Sign"
                  icon="pi pi-pencil"
                  class="p-button-rounded p-button-success sm:ml-4"
                  (click)="goToPageSignature(data.idApprover)"
                ></button>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
