<div class="grid">
  <div class="col-12">
    <div class="card">
      <p-toast></p-toast>
      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
          <div class="my-2">
            <button
              pButton
              pRipple
              label="Add Request"
              icon="pi pi-plus"
              class="p-button-success mr-2"
              (click)="openNew()"
            ></button>
          </div>
        </ng-template>
      </p-toolbar>

      <p-table
        #dt
        [value]="datas"
        responsiveLayout="scroll"
        [rows]="10"
        [globalFilterFields]="['documentName', 'documentStatus', 'signed']"
        [paginator]="true"
        [rowsPerPageOptions]="[5, 10, 20]"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        selectionMode="multiple"
        [rowHover]="true"
        dataKey="idDocument"
      >
        <ng-template pTemplate="caption">
          <div
            class="flex flex-column md:flex-row md:justify-content-between md:align-items-center"
          >
            <h4 class="m-0">List Request Signature</h4>
            <span class="block mt-2 md:mt-0 p-input-icon-left">
              <i class="pi pi-search"></i>
              <input
                pInputText
                type="text"
                (input)="onGlobalFilter($event, dt)"
                placeholder="Search..."
                class="w-full sm:w-auto"
              />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>No</th>
            <th pSortableColumn="documentName">
              Document Name <p-sortIcon field="documentName"></p-sortIcon>
            </th>
            <th pSortableColumn="documentStatus">
              Progress <p-sortIcon field="documentStatus"></p-sortIcon>
            </th>
            <th pSortableColumn="uploadDate">
              Request Date <p-sortIcon field="uploadDate"></p-sortIcon>
            </th>
            <th pSortableColumn="signed">
              Signature Status <p-sortIcon field="signed"></p-sortIcon>
            </th>
            <th>History</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data let-i="rowIndex">
          <tr>
            <td>{{ i + 1 }}</td>
            <td style="width: 25%; min-width: 10rem">
              <span class="p-column-title">Document Name</span>
              <a class="cursor-pointer" (click)="openPdfViewer(data)">{{
                data.documentName
              }}</a>
            </td>
            <td style="width: 20%; min-width: 10rem">
              <span class="p-column-title">Progress</span
              >{{ data.documentStatus }}
            </td>
            <td style="width: 20%; min-width: 10rem">
              <span class="p-column-title">Request Date</span>
              {{ data.uploadDate | date : "dd/MM/yyyy, HH:mm" }}
            </td>
            <td style="width: 20%; min-width: 10rem">
              <span class="p-column-title">Signature Status</span>
              <span [ngClass]="getStatusBadgeClass(data.signed)">
                {{ data.signed ? "signed" : "progress" }}
              </span>
            </td>
            <td style="width: 20%; min-width: 10 rem">
              <button
                pButton
                class="p-button-success mr-2"
                label="View History"
                icon="pi pi-clock"
                (click)="viewHistory(data.idDocument)"
              ></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <p-dialog
      [(visible)]="documentDialog"
      header="Add Request Signature"
      [modal]="true"
      [draggable]="false"
      [closable]="true"
      [styleClass]="'p-grid p-fluid w-12 md:w-4'"
    >
      <ng-template pTemplate="content">
        <div class="field form-group">
          <label for="documentName" class="font-semibold">Document Name</label>
          <div class="mt-1"></div>
          <input
            id="documentName"
            name="documentName"
            type="text"
            pInputText
            required
            autofocus
            [(ngModel)]="postDocument.documentName"
            [ngClass]="{
              'ng-invalid ng-dirty': submitted && !postDocument.documentName
            }"
          />
          <small
            class="ng-dirty ng-invalid"
            *ngIf="submitted && !postDocument.documentName"
            >Document Name is required.</small
          >
        </div>

        <div class="field form-group">
          <label for="pdfDocument" class="font-semibold">Select File</label>
          <div class="mt-1"></div>
          <p-button
            label="Choose File"
            icon="pi pi-upload"
            (click)="fileInput.click()"
          ></p-button>
          <input
            type="file"
            #fileInput
            style="display: none"
            id="pdfDocument"
            name="pdfDocument"
            accept=".pdf"
            (change)="onUpload($event)"
          />
          <div *ngIf="postDocument.fileData" class="mt-3">
            <ngx-extended-pdf-viewer
              [src]="pdfSrc"
              [useBrowserLocale]="true"
              [showToolbar]="false"
              class="shadow-4"
              [textLayer]="true"
              [showHandToolButton]="true"
              [height]="'55vh'"
            >
              ></ngx-extended-pdf-viewer
            >
          </div>
        </div>

        <div class="field form-group">
          <label for="approverType" class="font-semibold">Approver Type</label>
          <div class="mt-1"></div>
          <p-dropdown
            id="approverType"
            [options]="[
              { label: 'Parallel', value: 'PARALLEL' },
              { label: 'Serial', value: 'SERIAL' }
            ]"
            [(ngModel)]="approverType"
          ></p-dropdown>
        </div>

        <div class="field form-group mt-2">
          <label for="approver-form" class="font-semibold">Add Approver</label>
          <div
            *ngFor="let approver of selectedApprovers; let i = index"
            class="approver-row"
          >
            <div class="approver-input">
              <p-autoComplete
                [(ngModel)]="selectedApprovers[i]"
                [suggestions]="filteredApprovers"
                (completeMethod)="filterApprover($event)"
                id="approver-form"
                field="displayName"
                [dropdown]="true"
                appendTo="body"
              ></p-autoComplete>
            </div>
            <div class="approver-remove">
              <button
                pButton
                icon="pi pi-times"
                class="p-button-danger p-button-rounded p-button-icon-only"
                (click)="removeApprover(approver)"
              ></button>
            </div>
          </div>
          <div class="approver-add">
            <p-autoComplete
              [(ngModel)]="selectedApprover"
              [suggestions]="filteredApprovers"
              (completeMethod)="filterApprover($event)"
              field="displayName"
              [dropdown]="true"
              appendTo="body"
            ></p-autoComplete>
            <button
              pButton
              label="Add Approver"
              (click)="addApprover()"
              class="p-button-success"
            ></button>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="footer">
        <button
          pButton
          pRipple
          label="Cancel"
          icon="pi pi-times"
          class="p-button-text"
          (click)="hideDialog()"
        ></button>
        <button
          pButton
          pRipple
          label="Save"
          icon="pi pi-check"
          class="p-button-text"
          (click)="saveDocument()"
        ></button>
      </ng-template>
    </p-dialog>

    <!--View Pdf Dialog-->
    <p-dialog
      [(visible)]="pdfDialog"
      header="Preview Document"
      [modal]="true"
      [styleClass]="'p-grid p-fluid w-12 md:w-4'"
      [closable]="true"
      [draggable]="false"
    >
      <ng-template pTemplate="content">
        <ngx-extended-pdf-viewer
          [src]="pdfSrc"
          [useBrowserLocale]="true"
          class="shadow-4"
          [textLayer]="false"
          [customToolbar]="additionalButtons"
          [showHandToolButton]="false"
          [handTool]="false"
          [height]="'70vh'"
        ></ngx-extended-pdf-viewer>

        <ng-template #additionalButtons>
          <div id="toolbarViewer">
            <div id="toolbarViewerLeft">
              <pdf-toggle-sidebar></pdf-toggle-sidebar>
              <div class="toolbarButtonSpacer"></div>
              <pdf-find-button
                [showFindButton]="true"
                [textLayer]="true"
              ></pdf-find-button>
              <pdf-paging-area></pdf-paging-area>
            </div>
            <pdf-zoom-toolbar></pdf-zoom-toolbar>
            <!-- toolbar viewer middle -->
            <div id="toolbarViewerRight">
              <pdf-download></pdf-download>
              <div class="verticalToolbarSeparator hiddenSmallView"></div>
              <pdf-toggle-secondary-toolbar></pdf-toggle-secondary-toolbar>
            </div>
          </div>
        </ng-template>
      </ng-template>
      <ng-template pTemplate="footer">
        <button
          pButton
          pRipple
          label="Close"
          icon="pi pi-times"
          class="p-button-text"
          (click)="hidePdfDialog()"
        ></button>
      </ng-template>
    </p-dialog>

    <!-- History Modal -->
    <p-dialog
      [(visible)]="historyDialog"
      header="Document History"
      [modal]="true"
      [styleClass]="'w-50'"
      [closable]="true"
      [draggable]="false"
    >
      <ng-template pTemplate="content">
        <div *ngIf="documentHistory.length > 0; else noHistory">
          <p-timeline
            [value]="documentHistory"
            align="left"
            class="customized-timeline"
          >
            <ng-template pTemplate="opposite" let-history>
              <div class="p-text-secondary">
                {{ history.timestamp | date : "dd/MM/yyyy, HH:mm" }}
              </div>
            </ng-template>
            <ng-template pTemplate="content" let-history>
              <div class="p-card p-shadow-4 p-1">
                <p>{{ history.description }}</p>
              </div>
            </ng-template>
          </p-timeline>
        </div>
        <ng-template #noHistory>
          <div class="p-text-center">
            No history available for this document.
          </div>
        </ng-template>
      </ng-template>
      <ng-template pTemplate="footer">
        <button
          pButton
          pRipple
          label="Close"
          icon="pi pi-times"
          class="p-button-text"
          (click)="hideHistoryDialog()"
        ></button>
      </ng-template>
    </p-dialog>
  </div>
</div>
