<div class="grid">
  <div class="spinner-container" *ngIf="progressSpinnerVisible">
    <p-progressSpinner
      ariaLabel="loading"
      styleClass="custom-spinner"
    ></p-progressSpinner>
  </div>
  <div class="col-12">
    <div class="card">
      <p-toast></p-toast>
      <div class="header md:flex justify-content-between align-items-center">
        <h4 class="text-lg md:mb-8 md:text-2xl">
          Approve Document {{ data.document.documentName }}
        </h4>
        <div class="button-group">
          <button
            pButton
            pRipple
            label="Back"
            icon="pi pi-arrow-left"
            class="p-button-secondary mr-2"
            (click)="goBack()"
          ></button>
          <button
            pButton
            type="button"
            label="Approve"
            icon="pi pi-check"
            class="p-button-success"
            (click)="showModal()"
          ></button>

          <!-- <button
            pButton
            type="button"
            label="Add Text"
            (click)="addTextEditor()"
          ></button> -->
        </div>
      </div>
      <div *ngIf="pdfSrc" class="pdf-container mt-4">
        <div class="pdf-wrapper field form-group">
          <ngx-extended-pdf-viewer
            #pdfViewer
            [src]="pdfSrc"
            [customToolbar]="additionalButtons"
            class="shadow-4"
            [textLayer]="true"
            [showHandToolButton]="true"
            [height]="'90vh'"
          >
            ></ngx-extended-pdf-viewer
          >
          <ng-template #additionalButtons>
            <div id="toolbarViewer">
              <div id="toolbarViewerLeft">
                <pdf-toggle-sidebar></pdf-toggle-sidebar>
                <div class="toolbarButtonSpacer"></div>
                <pdf-find-button
                  [showFindButton]="true"
                  [textLayer]="true"
                ></pdf-find-button>
                <pdf-paging-area></pdf-paging-area>
              </div>
              <pdf-zoom-toolbar></pdf-zoom-toolbar>
              <!-- toolbar viewer middle -->
              <div id="toolbarViewerRight">
                <pdf-editor></pdf-editor>
                <pdf-download></pdf-download>
                <div class="verticalToolbarSeparator hiddenSmallView"></div>
                <pdf-toggle-secondary-toolbar></pdf-toggle-secondary-toolbar>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>

    <p-dialog
      header="Konfirmasi"
      [(visible)]="otpModal"
      [modal]="true"
      [style]="{ maxWidth: '100vw', maxHeight: '35vh' }"
      [resizable]="false"
      class="confirmation-dialog"
    >
      <ng-template pTemplate="content">
        <div class="confirmation-content">
          <label class="text-lg">
            Masukkan 6 digit kode yang dikirimkan ke email Anda. <br />
            {{ maskedEmail }}
          </label>

          <div *ngIf="otpCountdown > 0" class="my-2">
            Tunggu {{ otpCountdown }} detik untuk mengirim ulang OTP.
          </div>
          <div *ngIf="otpCountdown === 0" class="my-3">
            <button
              pButton
              label="Kirim Ulang OTP"
              (click)="sendOtp()"
            ></button>
          </div>
          <div class="otp-container">
            <ng-container *ngFor="let ctrl of otpControls; let i = index">
              <input
                pInputText
                type="text"
                maxlength="1"
                [(ngModel)]="otp[i]"
                (input)="onInput($event, i)"
                (keydown.backspace)="onBackspace($event, i)"
                class="otp-input"
                #otpInput
              />
            </ng-container>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="footer">
        <button
          pButton
          type="button"
          label="Submit"
          icon="pi pi-check"
          (click)="hideModal()"
          class="p-button-primary"
        ></button>
      </ng-template>
    </p-dialog>
  </div>
</div>
