<div class="grid">
  <div class="spinner-container" *ngIf="progressSpinnerVisible">
    <p-progressSpinner
      ariaLabel="loading"
      styleClass="custom-spinner"
    ></p-progressSpinner>
  </div>
  <div class="col-12">
    <div class="card">
      <p-toast></p-toast>
      <div class="header md:flex justify-content-between align-items-center">
        <h4 class="text-lg md:mb-8 md:text-2xl">
          Approve Document {{ data.document.documentName }}
        </h4>
        <div class="button-group">
          <button
            pButton
            pRipple
            label="Back"
            icon="pi pi-arrow-left"
            class="p-button-secondary mr-2"
            (click)="goBack()"
          ></button>
          <button
            pButton
            pRipple
            label="Approve"
            icon="pi pi-check"
            class="p-button-success"
            (click)="export()"
          ></button>
        </div>
        <button
          pButton
          type="button"
          label="Approve"
          icon="pi pi-check"
          class="p-button-success"
          (click)="showModal()"
        ></button>
      </div>
      <div *ngIf="pdfSrc" class="pdf-container mt-4">
        <div class="pdf-wrapper field form-group">
          <ngx-extended-pdf-viewer
            [src]="pdfSrc"
            [useBrowserLocale]="true"
            [showToolbar]="true"
            class="shadow-4"
            [textLayer]="true"
            [showHandToolButton]="true"
            [height]="'100vh'"
          >
            ></ngx-extended-pdf-viewer
          >
        </div>
      </div>
    </div>

    <p-dialog
      header="Konfirmasi"
      [(visible)]="otpModal"
      [modal]="true"
      [style]="{ width: '25vw', height: '27vh' }"
      [closable]="true"
      [resizable]="false"
      class="confirmation-dialog"
    >
      <ng-template pTemplate="content">
        <div class="confirmation-content">
          <label class="text-lg"
            >Masukkan 6 digit kode yang dikirimkan ke email Anda. <br />
            {{ email }}
          </label>

          <div class="otp-container">
            <ng-container *ngFor="let ctrl of otpControls; let i = index">
              <input
                pInputText
                type="text"
                maxlength="1"
                [(ngModel)]="otp[i]"
                (input)="onInput($event, i)"
                (keydown.backspace)="onBackspace($event, i)"
                class="otp-input"
                #otpInput
              />
            </ng-container>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="footer">
        <button
          pButton
          type="button"
          label="Submit"
          icon="pi pi-check"
          (click)="hideModal()"
          class="p-button-primary"
        ></button>
      </ng-template>
    </p-dialog>
  </div>
</div>
